.custom-button {
    padding: 12px 24px;
    background-color: #1ab188;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s, transform 0.3s;
    margin-top: 20px;
  }
  
  .custom-button:disabled {
    background-color: #999;
    cursor: not-allowed;
  }
  
  .custom-button:hover:enabled {
    background-color: #148f6d;
    transform: scale(1.05);
  }
  