/* Import the Poppins font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

.tech-elevate {
  font-family: 'Poppins', sans-serif;
  padding: 20px;
}

.tech-elevate h1 {
  color: #000; /* Change color to black */
  text-align: center;
  margin-bottom: 40px;
}

.intro-paragraph {
  margin: 20px 0; /* Increase the paragraph spacing */
  color: #000; /* Set paragraph text color to black for high contrast */
  line-height: 2; /* Set line height to 2 for equivalent of double spacing */
  font-size: 1.1rem; /* Increase the font size */
  text-align: center; /* Center align text */
  margin-bottom: 30px;
}

.courses {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 20px;
}

.course {
  background: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  transition: transform 0.2s, box-shadow 0.2s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.course:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.course h2 {
  color: #000; /* Change color to black */
}

.course-img {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.course-details {
  text-align: left;
  text-align: justify;
  font-size: 1rem;
  color: #555;
}

.course-details ul {
  list-style-type: square;
  margin: 10px 0;
  padding-left: 20px;
}

.course-details li {
  margin-bottom: 5px;
}

.register-link {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  color: #fff;
  background-color: #1ab188;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.register-link:hover {
  background-color: #17a077;
}

/* Accordion styles */
.accordion {
  text-align: left;
}

.accordion-item {
  margin-bottom: 10px;
}

.accordion-title {
  color: #000; /* Change color to black */
  font-weight: 600;
  cursor: pointer;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  background-color: #f0f0f0;
  transition: background-color 0.3s ease;
}

.accordion-title:hover {
  background-color: #e9fbf7;
}

.accordion-title.open {
  background-color: #e9fbf7;
}

.accordion-content {
  padding: 10px;
  border-left: 3px solid #1ab188;
  margin-left: 20px;
}

.accordion-content p {
  color: #333;
  line-height: 1.6;
  margin: 10px 0;
  font-size: 1rem;
  text-align: justify;
}

/* Responsive design */
@media (max-width: 600px) {
  .tech-elevate {
    padding: 10px;
  }

  .course {
    padding: 15px;
  }

  .course h2 {
    font-size: 1.5em;
  }

  .accordion-title {
    font-size: 1.2em;
  }

  .accordion-content p {
    font-size: 0.9rem;
  }
}
